	
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,700,700i|Montserrat:300,400,500,600,700";

/**********************
/* Global Styles
/**********************/

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   width: 100vw;
   height: 100vh;
}

body {
   position: relative;
   font-size: 15px;
   line-height: 1.6em;
   font-family: 'Roboto', Helvetica, sans-serif;
   background: #f5f5f5;
}

a {
   color: #1dab64;
   outline: none;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
}

a:hover {
   color: #3ece89;
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 10px;
   color: #1dab64;
   font-family: 'Montserrat', Helvetica, sans-serif;
   font-weight: 700;
   line-height: 1.5em;
}

p {
   margin-bottom: 10px;
   font-size: 15px;
   font-weight: 400;
}

img {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   border: 0;
}


/************************
/* Utility Classes
/************************/

.main-wrapper {
   width: 100%;
   height: auto;
   position: relative;
}

.card-container {
   margin: 0 auto;
   max-width: 1032px;
   padding-top: 50px;
   text-align: center;
}

/************************
/* Profile Header Card
/************************/

.profile-header {
   margin: 20px 50px;
   background-color: rgba(62, 206, 137, 0.80);
   box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
   border-radius: 15px;
}

.profile-header img{
   margin: 0;
   width: 270px;
   height: 275px;
}

.profile-name h1 {
   margin: 30px 0 0;
   font-size: 45px;
   color: #f5f5f5;
   font-weight: 700;
}

.profile-title {
   margin: 0;
   font-size: 27px;
   color: #fff;
}

.profile-header .profile-links {
   position: relative;
   top: 0;
   left: 100px;
   margin: 30px auto;
}

.profile-links a {
   display: block;
   margin: 5px auto;
   padding-right: 200px;
   color: #f5f5f5;
   font-size: 18px;
   font-weight: 400;
}

.profile-links i {
   line-height: 35px;
   font-size: 25px;
}

/************************
/* Profile Info Card
/************************/
.profile-info {
   margin-left: 100px;
   padding: 30px 0 50px 0;
   text-align: left;
}

.profile-heading h3 {
   margin: 20px auto;
   font-size: 21px;
   color: #232121;
}

.profile-heading span {
   color: #3ece89;
}

.profile-content {
   margin-top: 30px;
   list-style: none;
}

.profile-content li {
   margin: 6px 0;
}

.profile-content li .title {
   padding-left: 50px;
}

.profile-content li .value {
   color: #1dab64;
}

